.bg_color {
  background-image: url("../../../../images/bg/annie-spratt-m1t-RJ1iCIU-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
